[run]
#branch = true
source =
  xonsh/
  xontrib/
omit =
  .venv/*
  xonsh/lazyasd.py
  xonsh/parser_table.py
  xonsh/completion_parser_table.py
  xonsh/parsers/ply/*

# keep all cache files in one place
data_file = .cache/coverage

# https://stackoverflow.com/questions/42721896/coverage-in-parallel-for-django-tests
# when run with xdist - but append mode will not work
#concurrency = multiprocessing
#parallel = true

[report]
precision = 2
exclude_lines =
    pragma: no cover
    raise NotImplementedError
skip_covered = true
skip_empty = true
show_missing = true
sort = Miss

# keep improving ;)
fail_under = 50
