*.pyc
*.out
*.xcf
*.egg
.eggs/
__amalgam__.py
lexer_table.py
parser_table.py
parser_test_table.py
xonsh/lexer_table.py
xonsh/parser_table.py
tests/lexer_table.py
tests/parser_table.py
tests/lexer_test_table.py
tests/parser_test_table.py
build/
dist/
xonsh.egg-info/
docs/_build/
docs/envvarsbody
docs/xontribsbody
xonsh/dev.githash

# temporary files from vim and emacs
*~
*#
.#*
*.swp
*.swo

# Virtualenv
pip-selfcheck.json
bin/
lib/
include/

# Mac
.DS_Store

# Editor project files
*.komodo*
.cache

.coverage
