*.pyc
*.out
*.xcf
*.egg
lexer_table.py
parser_table.py
parser_test_table.py
xonsh/lexer_table.py
xonsh/parser_table.py 
tests/lexer_table.py
tests/parser_table.py 
tests/lexer_test_table.py
tests/parser_test_table.py
build/
dist/
xonsh.egg-info/
docs/_build/

# Virtualenv
pip-selfcheck.json
bin/
lib/
include/
