repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # this gets run within development environment.
        # Otherwise will raise command not found or use system level binary
        entry: black xonsh/ xontrib/ tests/
        language: system
        stages: [ commit ]
        types:
          - python
      - id: qa
        name: qa
        entry: xonsh run-tests.xsh qa
        language: system
        stages: [ push ]
        pass_filenames: false
        types:
          - python

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml

      # Check for debugger imports and py37+ breakpoint() calls in python source.
      - id: debug-statements

      - id: check-added-large-files

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
    - id: pyupgrade
      args: [--py37-plus]
