default_language_version:
    # force all unspecified python hooks to run python3
    python: python3.13

ci:
    autoupdate_commit_msg: "ci(pre-commit): auto-update plugins"
#  autofix_prs: false

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: 'v0.14.5'
    hooks:
      - id: ruff
        args: [., --fix, --exit-non-zero-on-fix]
        pass_filenames: false
      - id: ruff-format
        args: ["xonsh", "xontrib", "tests", "xompletions"]
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.18.2'  # Use the sha / tag you want to point at
    hooks:
      - id: mypy
        pass_filenames: false
        additional_dependencies:
          - types-ujson
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
              docs/_static/.+
          )$
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
