repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # this gets run within development environment.
        # Otherwise will raise command not found or use system level binary
        entry: black --check xonsh/ xontrib/
        language: system
        types:
          - python
      - id: qa
        name: qa
        entry: xonsh run-tests.xsh qa
        language: system
        default_stages: [ push ]
        types:
          - python

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml

      # Check for debugger imports and py37+ breakpoint() calls in python source.
      - id: debug-statements

      - id: check-added-large-files
