include logo.txt
include scripts/*
include tests/*
include license
include CHANGELOG.rst
include README.rst
recursive-include xonsh/ply/example *
recursive-include xonsh/ply/doc *
recursive-include xonsh/ply/test *
include xonsh/ply/ANNOUNCE
include xonsh/ply/README.md
include xonsh/ply/CHANGES
global-exclude *.pyc
