[Desktop Entry]
Type=Application
Name=xonsh
Exec=xonsh
Comment=Xonsh on Python {{ python-fullversion }}
Icon=xonsh_terminal_icon_256x256_cropped
Categories=System;
Terminal=true
