name: Build xonsh AppImage

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build-appimage:
    if: github.repository_owner == 'xonsh'
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: install python-appimage
        run: pip install python-appimage

      - name: create requirements.txt
        run: |
          echo $PWD > ./appimage/requirements.txt
          cat ./appimage/pre-requirements.txt >> ./appimage/requirements.txt

      - name: build xonsh AppImage
        run: |
          python -m python_appimage build app -p 3.11 ./appimage

      - name: Get latest release upload URL
        id: get_release
        uses: actions/github-script@v7
        with:
          script: |
            const { data: release } = await github.rest.repos.getLatestRelease({
              owner: context.repo.owner,
              repo: context.repo.repo
            });
            core.setOutput('upload_url', release.upload_url);
            core.setOutput('tag_name', release.tag_name);

      - name: Upload xonsh AppImage to latest release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./xonsh-x86_64.AppImage
          asset_name: xonsh-x86_64.AppImage
          asset_content_type: application/x-executable
