name: Black

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Black Check
      uses: "laloch/black-action@master"
      with:
        args: "--check xonsh/ xontrib/"
